streamlit
numpy
matplotlib
torch
torchvision







# # requirements.txt

# streamlit
# torch
# numpy
# matplotlib
# pandas





# torch
# torchvision
# numpy
# matplotlib
# pillow
# streamlit
# scikit-image